In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [6]:
import pandas as pd
import numpy as np
data = [
    ['Anastasia', 12.5, 1, 'yes'],
    ['Dima', 9, 3, 'no'],
    ['Katherine', 16.5, 2, 'yes'],
    ['James', np.nan, 3, 'no'],
    ['Emily', 9, 2, 'no'],
    ['Michael', 20, 3, 'yes'],
    ['Matthew', 14.5, 1, 'yes'],
    ['Laura', np.nan, 1, 'no'],
    ['Kevin', 8, 2, 'no'],
    ['Jonas', 19, 1, 'yes']
]
columns = ['name', 'score', 'attempts', 'qualify']

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, columns=columns, index=labels)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
import pandas as pd
import numpy as np


exam_data = {
    'name': np.array(['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
                      'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas']),
    'score': np.array([12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]),
    'attempts': np.array([1, 3, 2, 3, 2, 3, 1, 1, 2, 1]),
    'qualify': np.array(['yes', 'no', 'yes', 'no', 'no',
                         'yes', 'yes', 'no', 'no', 'yes'])
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [8]:
import pandas as pd
import numpy as np
data = [
    {'name': 'Anastasia', 'score': 12.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Dima', 'score': 9, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Katherine', 'score': 16.5, 'attempts': 2, 'qualify': 'yes'},
    {'name': 'James', 'score': np.nan, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Emily', 'score': 9, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Michael', 'score': 20, 'attempts': 3, 'qualify': 'yes'},
    {'name': 'Matthew', 'score': 14.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Laura', 'score': np.nan, 'attempts': 1, 'qualify': 'no'},
    {'name': 'Kevin', 'score': 8, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Jonas', 'score': 19, 'attempts': 1, 'qualify': 'yes'}
]

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)


print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
import pandas as pd
import numpy as np
data = [
    {'name': 'Anastasia', 'score': 12.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Dima', 'score': 9, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Katherine', 'score': 16.5, 'attempts': 2, 'qualify': 'yes'},
    {'name': 'James', 'score': np.nan, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Emily', 'score': 9, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Michael', 'score': 20, 'attempts': 3, 'qualify': 'yes'},
    {'name': 'Matthew', 'score': 14.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Laura', 'score': np.nan, 'attempts': 1, 'qualify': 'no'},
    {'name': 'Kevin', 'score': 8, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Jonas', 'score': 19, 'attempts': 1, 'qualify': 'yes'}
]

index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=index_labels)


print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
import pandas as pd
import numpy as np

name_series = pd.Series({
    'a': 'Anastasia',
    'b': 'Dima',
    'c': 'Katherine',
    'd': 'James',
    'e': 'Emily',
    'f': 'Michael',
    'g': 'Matthew',
    'h': 'Laura',
    'i': 'Kevin',
    'j': 'Jonas'
})

score_series = pd.Series({
    'a': 12.5,
    'b': 9,
    'c': 16.5,
    'd': np.nan,
    'e': 9,
    'f': 20,
    'g': 14.5,
    'h': np.nan,
    'i': 8,
    'j': 19
})

attempts_series = pd.Series({
    'a': 1,
    'b': 3,
    'c': 2,
    'd': 3,
    'e': 2,
    'f': 3,
    'g': 1,
    'h': 1,
    'i': 2,
    'j': 1
})

qualify_series = pd.Series({
    'a': 'yes',
    'b': 'no',
    'c': 'yes',
    'd': 'no',
    'e': 'no',
    'f': 'yes',
    'g': 'yes',
    'h': 'no',
    'i': 'no',
    'j': 'yes'
})

data = {
    'name': name_series,
    'score': score_series,
    'attempts': attempts_series,
    'qualify': qualify_series
}

df = pd.DataFrame(data)

print(df)

In [5]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes